<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dynamic Field</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app="dynamicApp">
        <div ng-controller="DynamicFieldsController" class="container" style="margin-top:50px;">
            <div class="row">
                <h1 class="page-header">Dynamic Fields Demo</h1>
                <p>Use the fields on the left to affect the model on the right. These fields are loaded in during the runtime and are unknown items otherwise.</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="field-panel card-block">
                            <div ng-repeat="f in fields">
                                <div ng-include="getTemplate(f.type)" onload="field = f"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <h2 class="card-title">{{ entity.title }} </h2>
                            <p>{{ entity.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>