<div class="form-group">
    <label>{{ field.__system.label }}</label>
    <textarea 
        rows="3"
        cols="50"
        placeholder="{{ field.__system.placeholder }}" 
        ng-model="entity[field.binding]"
        class="form-control"
    ></textarea>
</div>