<div class="form-group">
    <label>{{ field.__system.label }}</label>
    <input type="text" 
        placeholder="{{ field.__system.placeholder }}" 
        ng-model="entity[field.binding]"
        class="form-control"
    />
</div>